.hero {
  background-color: #000;
  position: relative;
  padding: 90px 20px 0px 20px;
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  @media (min-width: 640px) {
    min-height: 70vh;
  }

  @media (min-width: 768px) {
    min-height: 80vh;
  }

  @media (min-width: 1024px) {
    min-height: 85vh;
  }

  @media (min-width: 1280px) {
    min-height: 95vh;
  }
}

.content {
  z-index: 10;
  max-width: 100%;

  @media (min-width: 640px) {
    max-width: 500px;
  }

  @media (min-width: 768px) {
    max-width: 600px;
  }
}

.badge {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  margin-bottom: 15px;

  @media (min-width: 640px) {
    padding: 5px 12px;
    font-size: 13px;
    margin-bottom: 18px;
  }

  @media (min-width: 768px) {
    padding: 6px 14px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;

  @media (min-width: 640px) {
    font-size: 48px;
  }

  @media (min-width: 768px) {
    font-size: 64px;
  }

  @media (min-width: 1024px) {
    font-size: 80px;
  }

  @media (min-width: 1280px) {
    font-size: 96px;
  }
}

.highlight {
  color: #ffc107;
}

// .droneWrapper {
//     width: 100%;
//     position: absolute;
//     top: 50px;
//     display: flex;
//     justify-content: center;
//     z-index: 5;
// }

// .drone {
//     margin-right: 80px;
// }

.droneWrapper {
  width: 100%;
  position: absolute;
  top: 90px;

  display: flex;
  justify-content: center;
  z-index: 5;




  .drone {
    margin-right: 80px;
    animation: flyDrone 7s ease-in-out infinite;
    transform-origin: center;
    width: 150px;
    height: auto;

    @media (min-width: 480px) {
      width: 180px;
    }

    @media (min-width: 640px) {
      width: 200px;
    }

    @media (min-width: 768px) {
      width: 220px;
    }

    @media (min-width: 1024px) {
      width: 246px;
    }


  }
}

@keyframes flyDrone {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg) scale(1);
  }

  25% {
    transform: translateY(-10px) translateX(-3px) rotate(-0.5deg) scale(1.01);
  }

  50% {
    transform: translateY(6px) translateX(3px) rotate(0.5deg) scale(1.005);
  }

  75% {
    transform: translateY(-8px) translateX(-2px) rotate(-0.3deg) scale(1.01);
  }

  100% {
    transform: translateY(0) translateX(0) rotate(0deg) scale(1);
  }
}


.globeWrapper {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  right: -50%;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.earth {
  width: 100%;
  height: 100%;
  position: absolute;
  // right: -500px;
  bottom: 0;
  opacity: 0.9;
  z-index: 1;
  padding-top: 90px;
}