.wrapper {
  background-color: #000;
  color: #fff;
  padding: 80px 20px;
  text-align: center;

  position: relative;
  // top: -660px;
  z-index: 2;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 14px;
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}

.card {
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 20px;
  max-width: 100%;
  height: 351px;
  // width: 100%;
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.cardImage {
  width: 100%;
  overflow: hidden;
  height: 207px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.image {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.text {
  margin-top: 16px;
  line-height: 1.4;
  padding: 16px;
}

.text p {
  margin: 0;
  font-size: 20px;
  color: #ccc;
}

.text strong {
  font-size: 20px;
  display: block;
  color: #fff;
  margin-top: 4px;
}

/* ✅ RESPONSIVE FIXES */
@media (min-width: 1441px) {
  .card {
    max-width: unset;
    width: 100%;
  }
  .grid {
    gap: 24px;
  max-width: 1280px;
    margin-inline: auto;
    padding-inline: 32px;
  }
}
@media (max-width: 1440px) {
  .card {
    max-width: unset;
    width: 100%;
  }
  .grid {
    max-width: 1280px;
    margin-inline: auto;
    gap: 24px;
  }
  .cardImage {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .card {
    max-width: 100%;
    width: 100%;
  }
  .grid {
    gap: 24px;
  }
  .cardImage {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
  }
  .grid {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .grid {
    // grid-template-columns: 1fr;
    gap: 24px;
  }
}
