.wrapper {
  padding-block: 50px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #fbfcfc;
  position: relative;

  @media (min-width: 640px) {
    padding-block: 40px 30px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    padding-block: 40px 60px;
    margin-bottom: 45px;
  }

  @media (min-width: 1024px) {
    padding-block: 80px 159px;
    margin-bottom: 50px;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding-inline: 16px;
}

.subtitle {
  font-size: 16px;
  max-width: 900px;
  margin: 0 auto 40px;
  color: #333;
    padding-inline: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
  max-width: 100%;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap: 16px;
    padding-inline: 16px;
    margin-inline: auto;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
  }
}

.card {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding: 20px;
  height: 105px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.card img {
  height: 85px;
  max-width: 85px;
  object-fit: contain;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
