.wrapper {
  padding: 40px 16px;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 640px) {
    padding: 50px 20px;
  }

  @media (min-width: 768px) {
    padding: 60px 16px;
  }

    @media (min-width: 992px) {
    padding: 60px 32px;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.subheading {
  color: #444;
  font-size: 15px;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
  width:fit-content;
  padding: 10px;
  margin-inline: auto;
  border-radius: 10px;
  background: #FFF8E6;
}

.tabButton {
  padding: 10px 20px;
  // background: #f4f4f4;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 180px;
}

.tabButton:hover {
  // background: #e2e2e2;
}

.active {
  background-color: #ffcc00;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  background: #FFFBF2;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
}

.imageWrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  background: #FFF1CC;
}

.cardContent {
  padding: 16px 1px;
  text-align: left;

  h4 {
    margin-bottom: 10px;
    font-weight: 600px;
  }
}

.badge {
  font-size: 14px;
  color: #008000;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 6px;
}

.duration {
  color: black;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
}

.weight {
  color: green;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
}

.cardContent ul {
  list-style: none;
  padding-left: 5px;
  margin: 0 0 20px;
  font-size: 14px;

  li {
    margin-bottom: 10px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.detailsBtn {
  background: transparent;
  border: 1px solid #ffb801;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 173px;
  font-size: 16px;
}

.enrollBtn {
  background: #ffc107;
  width: 173px;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
}

.instructors {
  margin-top: 60px;
}

.instructorHeading {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}

.subheading {
  font-size: 18px;
  max-width: 1000px;
  line-height: 1.6;
  color: #444;
  text-align: center;
}

.instructorGrid {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.instructorCard {
  flex: 1 1 450px;
  width: 629px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;

  h4 {
    margin-bottom: 8px;
    text-align: left;
    font-size: 20px;
  }

  p {
    text-align: left;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    width: 383px;
  }
}

.textContent {
  flex: 1;
  padding-right: 20px;
  padding-left: 10px;
  // padding-top: 20px;
  padding-bottom: 10px;
}

.imageContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;

  img {
    width: 123px;
    height: auto;
    border-radius: 8px;
  }
}

// Alternate background colors
.card0 {
  background-color: #f6f2fc; // soft purple
}

.card1 {
  background-color: #fef2f2; // soft pink
}

// Mobile first overrides
@media (max-width: 767px) {
  .instructorGrid {
    flex-direction: column; 
    gap: 20px; 
  }

  .instructorCard {
    width: 100%;
    padding: 0;
    flex: 1;
    flex-direction: row-reverse; 
    text-align: center;
  }

  .textContent {
    padding: 0 10px 0 20px; 
  }

  .imageContainer {
    justify-content: center; 
    margin-top: 10px; 
  }

  .instructorCard p {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden; 
  }
}

@media (max-width: 374px){
  .instructorCard {
    padding: 15px;
    flex: 1;
    flex-direction: column-reverse;
    align-items: flex-start ;
    text-align: center;
  }
  .textContent {
    padding: 20px 0;
  }
}